<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.attach">

	<insert id="insert">
		INSERT INTO tbl_attach (id, bno, uploadedFilename, regdate)
		VALUES
		(seq_attach_id.NEXTVAL, #{bno}, #{uploadedFilename}, SYSDATE)
	</insert>
	
	<select id="read" resultType="String">
		SELECT uploadedFilename FROM tbl_attach WHERE bno = #{bno} 
	</select>
	
	<delete id="deleteByFilename">
		DELETE FROM tbl_attach WHERE uploadedFilename = #{uploadedFilename}
	</delete>
	
</mapper>